Repository ami-friedman/budget-compass: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, black, pyright, eslint, prettier

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff (fix)
        entry: uv run ruff check --fix
        language: system
        files: ^backend/.*\.py$

      - id: black
        name: black (format)
        entry: uv run black
        language: system
        files: ^backend/.*\.py$

      - id: pyright
        name: pyright (typecheck)
        entry: uv run pyright --project backend/pyproject.toml
        language: system
        files: ^backend/.*\.py$

      - id: eslint
        name: eslint (fix)
        entry: npm --prefix frontend run lint -- --fix
        language: system
        files: ^frontend/src/.*\.ts$

      - id: prettier
        name: prettier (format)
        entry: npm --prefix frontend run format
        language: system
        files: ^frontend/src/.*\.(ts|html|scss|css|md)$

added developer for github
  .github/agents/Full-stack developer.agent.md
Due: none

added ux designer rules
  .roo/rules-ux-designer/guidelines.md
Due: none

fixed linting rules and pre commit
  .pre-commit-config.yaml
  backend/pyproject.toml
Due: none

agentic codeing rules
  .gitignore
  .roo/rules-code-reviewer/guidelines.md
  .roomodes
  agent-roles/code-reviewer.md
  backend/pyproject.toml
  backend/uv.lock
Due: none

defined get diff skill
  .roo/skills/find-git-diffs/SKILL.md
  agent-skills/find-git-diffs.md
Due: none

added code review
  .roo/commands/code-review.md
Due: none

auth flow - backend
  backend/app/api/auth.py
  backend/app/api/problem_details.py
  backend/app/api/router.py
  backend/app/core/config.py
  backend/app/db/__init__.py
  backend/app/db/init_db.py
  backend/app/db/session.py
  backend/app/domains/auth/__init__.py
  backend/app/domains/auth/errors.py
  backend/app/domains/auth/models.py
  backend/app/domains/auth/schemas.py
  backend/app/domains/auth/service.py
  backend/app/main.py
  docs/auth-flow-plan.md
  docs/poc-for-general-ui-flow.ts
  project-docs/user-stories.md
Due: ruff, black, pyright

improve code review
  agent-commands/code-review.md
Due: none

fixed after code review
  .pre-commit-config.yaml
  frontend/src/app/app.html
Due: prettier

fixed auth error to db
  agent-commands/code-review.md
  agent-skills/find-git-diffs.md
  backend/app/api/auth.py
  backend/app/core/config.py
  backend/app/db/init_db.py
  backend/app/domains/auth/repository.py
  backend/app/domains/auth/service.py
Due: ruff, black, pyright

fixed url hiding
  backend/app/db/session.py
Due: ruff, black, pyright

added unit tests
  .gitignore
  backend/pyproject.toml
  backend/tests/domains/auth/test_service.py
  backend/uv.lock
Due: ruff, black, pyright

unit test pipeline
  .github/workflows/backend-tests.yml
  backend/agent-guidelines/coding-guidelines.md
  docs/ui-accounts-design-system.md
Due: none

fixed unit tests
  .github/workflows/backend-tests.yml
Due: none

import failure - fix
  backend/pyproject.toml
Due: none

tailwind works
  .gitignore
  frontend/.postcssrc.json
  frontend/angular.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/styles.css
  frontend/src/styles.scss
Due: prettier

created a landing page
  .roo/skills/angular-component/SKILL.md
  frontend/src/app/app.html
  frontend/src/app/app.routes.ts
  frontend/src/app/app.ts
  frontend/src/app/features/landing/landing.page.html
  frontend/src/app/features/landing/landing.page.ts
  frontend/src/app/shared/ui/components/bc-button/bc-button.component.html
  frontend/src/app/shared/ui/components/bc-button/bc-button.component.ts
  frontend/src/app/shared/ui/components/icon-tile/icon-tile.component.html
  frontend/src/app/shared/ui/components/icon-tile/icon-tile.component.ts
  frontend/src/app/shared/ui/components/model-card/model-card.component.html
  frontend/src/app/shared/ui/components/model-card/model-card.component.ts
  frontend/src/app/shared/ui/components/section-header/section-header.component.html
  frontend/src/app/shared/ui/components/section-header/section-header.component.ts
  frontend/src/styles.scss
Due: eslint, prettier

Added design from figma + logo
  frontend/package-lock.json
  frontend/package.json
  frontend/public/logo.png
  frontend/src/app/app.routes.ts
  frontend/src/app/core/layout/app-shell/app-shell.component.ts
  frontend/src/app/core/layout/bottom-nav/bottom-nav.component.ts
  frontend/src/app/core/layout/logo/logo.component.ts
  frontend/src/app/core/layout/nav-item.interface.ts
  frontend/src/app/core/layout/sidebar/sidebar.component.ts
  frontend/src/app/features/budgets/budgets.page.ts
  frontend/src/app/features/dashboard/dashboard.page.ts
  frontend/src/app/features/goals/goals.page.ts
  frontend/src/app/features/transactions/transactions.page.ts
  frontend/src/app/shared/ui/components/bc-button/bc-button.component.ts
  frontend/src/app/shared/ui/components/page-header/page-header.component.ts
  frontend/src/favicon.ico
  frontend/src/index.html
  frontend/src/styles.scss
Due: eslint, prettier

changed the routes
  frontend/src/app/app.routes.ts
  frontend/src/app/features/landing/landing.page.html
  frontend/src/app/features/landing/landing.page.ts
Due: eslint, prettier
